*{
    box-sizing: border-box;
}
body{
    background-color:#D4E2D4;
}

header{
    position: sticky;
    top: 0;
    padding: 20px;
}
 .nav {
    height: 32px;
    width: 100%;
    /* margin:20px; */
    display: flex;
    justify-content: space-evenly; 
  
}
.container1{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 40px;
}
.card{
    height: 200px;
    width: 150px;
    background-color:#7C9D96;
    border: 1px solid #7C9D96;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    height: 100px;
    width: 100px;
   margin: 10px;
   border-radius: 5px;
}
h4{
    font-size: smaller;
}
.container2{
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 70px;
    padding: 15px;
    flex-grow: wrap;
    
}
.para{
    border-right: 1px solid ;
    margin: 10px;
    padding: 40px;
    font-size: larger;
}