*{
    box-sizing: border-box;
    /* A bug was made because of the overflow hidden and sticky position,they donnt work together
    by giving the background color and border finally found out that overflow was because of nav margin so I remored it and added padding to header */
    /* overflow-x: hidden; */
    /* background-color: rgba(127, 255, 212, 0.562);
    border: 5px solid; */ 
}
body{
    background-color:#F4F2DE;
}

header{
    position: sticky;
    top: 0;
    padding: 20px;
}



 .nav {
    height: 32px;
    width: 100%;
    /* margin:20px; */
    display: flex;
    justify-content: space-evenly; 
  
}
.aboutus{
    border: 1px solid;
    margin: 50px;
    padding: 15px;
    border-radius: 5px;
    background-color:#E9B384 ;
}
.container1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: space-between;
}
.box{
    height: 300px;
    width: 200px;
    background-color:#7C9D96 ;
    border: 1px solid #7C9D96;
    border-radius: 5px;
    /* margin: 60px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    height: 100px;
    width: 150px;
   margin: 20px;
   border-radius: 5px;
}
.linkbox{
    height: 30px;
    width: 60px;
    background-color: #E9B384;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    margin: 10px;

}
.aboutus:hover{
    background-color: #F4F2DE;
}