*{
    box-sizing: border-box;
    overflow-x: hidden;
}
body{
    background-color:#E9B384;
}

header{
    position: sticky;
    top: 0;
}



 .nav {
    height: 32px;
    width: 100%;
    margin:20px;
    display: flex;
    justify-content: space-evenly; 
  
}
.container1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}
.card{
    height: 250px;
    width: 200px;
    background-color:#F4F2DE;
    border: 1px solid #F4F2DE;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    height: 100px;
    width: 150px;
   margin: 20px;
   border-radius: 5px;
}
.container2{
    border: 1px solid;
    border-radius: 4px;
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 30px 200px ;
}
td{
    border: 1px solid;
}
@media (max-width:787px){
    .container2{
        width: 100%;
        margin: 0px;
    }
}
