*{
    box-sizing: border-box;
}
body{
    background-color:#A1CCD1;
}

header{
    position: sticky;
    top: 0;
}



 .nav {
    height: 32px;
    width: 100%;
    margin:20px;
    display: flex;
    justify-content: space-evenly; 
  
}
.container1{
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    
}
.box{
    height: 300px;
    width: 200px;
    background-color:#F4F2DE;
    border: 1px solid #F4F2DE;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    height: 100px;
    width: 150px;
   margin: 20px;
   border-radius: 5px;
}
.container2{
   
    display: flex;
    justify-content: space-around;
    gap: 10px;
}
.classes{
    border: 1px solid;
    width: 1000px;
    height: 500px;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    background-color:#E9B384;
}